@import '../../styles/variables';

.error-container {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-weight: 300;
  }
  h2 {
    font-weight: 300;
    color: $secondary-color;
  }
  img {
    max-width: 800px;
  }
}
