$primary-color: #5843e4;
$secondary-color: #8186a0;
$success-color: #28a745;
$error-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;
$backgroundLight: #d6d6da;
$background: #f1f1f1;
$backgroundDark: #1e1e2f;
$font-family: 'Roboto', sans-serif;

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.light-theme {
  background: $background;
  color: black;
}

.dark-theme {
  background: $backgroundDark;
  color: white;
}

body {
  background: $backgroundLight;
}
.link {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
}
