// color variables
$primary-color: #4f535a;
$secondary-color: #b3bec7;
$success-color: #28a745;
$error-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;

// fonts variables
$font-family: 'Roboto', sans-serif;

* {
  font-family: $font-family;
}

body {
  background: $secondary-color;
}
